/* Font */
@font-face {
  font-family: "cormorant";
  src: url("../fonts/cormorant.ttf");
}
/* * */
* {
  font-family: "cormorant";
  height: 100%;
}
/* body */
body {
  height: 100%;
  background: url("../images/Bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* images */
img {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  border: 0.1rem solid white;
}
/* Details card */
#details-card {
  backdrop-filter: blur(10px);
}
